# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# test
test.py
test_timeit.py

# deafult pictures
Absolute_magnetisation.png
Metropolis.gif
Metropolis_*.png